*{
	box-sizing: border-box;
}

body{
	font-family: Tahoma, sans-serif;
	line-height: 1.5;
	color: #333333;
}

.section{
	padding: 30px-10%;
}

.main{
	text-align: center;
	margin-top: 80px;
}

.header{
	margin-top: 80px;
	font-size: 25px;
	text-align: center;
}

.header span{
	display: block;
	font-weight: 300;
	font-size: 24px;
}

.header strong{
	font-weight: 900;
	text-transform: uppercase;
}

.video, .form{
	display: inline-block;
	vertical-align: top;
}

.form{
	margin-left: 30px;
	text-align: center;
	padding: 20px;
	border: 5px solid #2727d9;
}

.form-header{
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 30px;
}

.form input{
	display: block;
	margin-top: 10px;
	width: 300px;
	padding: 17px;
	border: 1px solid #333;
	font-size: 18px;
}

.btn{
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	background-color: #2727d9;
	border: none;
	width: 300px;
	height: 60px;
	margin-top: 15px;
	display: block;
	margin: 11px auto;
}

.btn:hover{
	color: #aaa;
}

.col{
	display: inline-block;
	text-align: center;
	margin: 10px 50px;
}

.feature-header{
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 24px;
	margin-top: 90px;

}

.feature{
	margin: 60px auto;
	text-align: center;
}

